<div id='wrapper'>
  <div id='main'>
    Initial Power Level
    1-100 number picker
    Calculate button
    Image
  </div>
  <div id="components1">
    <div id='human'>
      label: humancomponent
      power level: 100
    </div>
    <div id='saiyan'>
      label: saiyancomponent
      power level: 1000
    </div>
    <div id='supersaiyan'>
      label: supersaiyancomponent
      power level: 9000
    </div>
  </div>
  <div id="components2">
    <div id='supersaiyantwo'>
      label: supersaiyantwocomponent
      power level: 15000
      "Over 9000!"
    </div>
    <div id='supersaiyanthree'>
      label: supersaiyanthreecomponent
      power level: 25000
      "Suporlative"
    </div>
    <div id='supersaiyanfour'>
      label: supersaiyanfourcomponent
      power level: 50000
      "The One"
    </div>    
  </div>
</div>